Grid {
    background: lightgray;
    grid-size: 2 1;
}

#left_panel {
    align: right middle;
    width: 1fr;
}

#right_panel {
    width: 1fr;
    border: thick yellow;
}

RadioButton {
    width: 20;
    height: 3;
}

#quit {
    background: orange;
}